body {
    margin: 0;
    background-image: url("bg.gif");
    background-size: cover;
}

#Content {
    color: white;
}

#p-header {
    font-family: monospace;
    margin-left: 150px;
    margin-top: 150px;
    font-size: 1em;
    width: 30%;
}

#search {
    border-bottom: 3px solid #6d6d6d;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 0 15px 0 15px;
    font-size: 1.5em;
    font-family: ;
    margin-top: 25px;
    background: white;
    height: 50px;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    outline: 0;
}

#searchbt {
    width: 50px;
    height: 47px;
    background: #d8d8d8;
    float: right;
    margin-top: -50px;
    border-bottom: 3px solid #222222;
    position: relative;
    background-image: url("rsc/search.png");
    background-size: contain;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}

#searchbt:hover {
    background: #bcbcbc;
    border-bottom: 3px solid black;
    background-image: url("rsc/search.png");
    background-size: contain;
    cursor: pointer;
}

#searchfooter {
    margin-top: 3;
    text-align: center;
    font-size: 0.8em;
}