body {
    margin: 0;
    background: #2a4b6c;
}

#Content {
}

#p-header {
    font-family: monospace;
    margin-left: 150px;
    margin-top: 150px;
    font-size: 1em;
    width: 30%;
    float: left;
    color: #b4bdc7;
}

#p-header p {
    line-height: 1.4em;
    word-spacing: 0.1em;
}

#p-header h1 {
    color: #fafafa;
}

#search {
    border-bottom: 3px solid #6d6d6d;
    border-top: 0;
    border-right: 0;
    border-left: 0;
    padding: 0 15px 0 15px;
    font-size: 1.5em;
    font-family: ;
    margin-top: 25px;
    background: #f5f5f5;
    height: 50px;
    width: 100%;
    outline: 0;
}

#searchbt {
    width: 50px;
    height: 47px;
    background: #58799a;
    float: right;
    margin-top: -50px;
    border-bottom: 3px solid #222222;
    position: relative;
    background-image: url("rsc/search.png");
    background-size: contain;

}

#searchbt:hover {
    background: #7e9dbc;
    border-bottom: 3px solid black;
    background-image: url("rsc/search.png");
    background-size: contain;
    cursor: pointer;
}

#searchfooter {
    margin-top: 3;
    text-align: center;
    font-size: 0.8em;
}

#p-content {    
    width: 40%;
    float: right;
    margin-top: 50px;
    margin-right: 150px;
    height: 70%;
    background: #ffffff;
    color: #5c5c5c;
    border-radius: 15px;
    padding: 25px;
    font-family: monospace;
    border-bottom: 3px solid #222222;
}

#p-content p {
    margin-left: -25px;
    margin-right: -25px;
    padding: 5px 25px 5px 25px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
    background: #f4f4f4;
}

#p-content hr {
    margin-left: -25px;
    margin-right: -25px;
    margin-top: 25px;
    margin-bottom: 20px;
    border-top: 0;
    border-style: dashed;
}

#p-content ul {
    list-style: none;
    margin-top: -15px;
}

#p-content h3 {
    font-size: 1.8em;
}

.songdesc {
    margin-top: 50px;
}

#footer {
    position:fixed;
    bottom:0;
    height: 150px;
    width: 100%;
    background: #1e344a;
}